
//娱乐


.pai{color:#000000;display:inline-block;width:25px;height:50px;border:1px #000 solid;font:16px "arial","times new roman";cursor:default;background-color:#fff;text-align:center;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;}
   [dui]{background-color:#eee;pointer-events:none;}
   table td{padding:0;}
   body{font:20px "Scerh","开心软件少儿简体","方正少儿简体","方正少儿_gbk","微软雅黑","宋体",sans-serif}